
a:hover
{
    border-radius: 3px;
    background:rgb(104, 103, 103);
    color: black;
}

.neha
{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI';
    color: white;
    margin-left: 3%;
    font-size: 3.7vw;
}
@media all and (max-width:572px)
{
    .neha
    {
        font-size: 30px;
    }
}
